@{
    ViewData["Title"] = "Dojodachi";
}

<div class="text-center">
    <div>
        <h3 class="display-4">Dojodachi</h3>
        <ul>
            <li>Fullness: </li>
            <li>Happiness: </li>
            <li>Meals: </li>
            <li>Energy: </li>
        </ul>
    </div>
    <div>
        <p class="text-center">You played with you Dojodachi Happiness +10, Energy - 5</p>
    </div>
    <div>
        <ul>
            <li class="activity"><a href="Feed">Feed</a></li>
            <li class="activity"><a href="Play">Play</a></li>
            <li class="activity"><a href="Work">Work</a></li>
            <li class="activity"><a href="Sleep">Sleep</a></li>
        </ul>
    </div>
</div>


